<div class="row">
  <div class="col-sm-12">
    <div class="card-box">



      <h4 class="header-title m-t-0 m-b-30">All Products</h4>



      <table class="table table-striped m-0">
        <thead>
        <tr>
          <th>No</th>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let product of products">
          <th scope="row">{{product.id}}</th>
          <td><img src='{{imagePath}}{{product.image}}' style="width:40px; height: 40px; float: left;; border-radius: 100%;"></td>
          <td>{{product.label}}</td>
          <td>{{product.prix}}</td>
          <td>{{product.quantity}}</td>
          <td> <button type="submit" class="btn btn-danger btn-round" (click)="delete(product.id)"  >Delete</button>
            <button type="submit" class="btn btn-warning btn-round" (click)="update(product.id)"  >Update</button></td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

